@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links li {
  display: inline-block;
  padding-left: 40px;
}
.photo{
  width: 100px !important;
  height: 40px !important;
}
.nav-links li a {
  text-align: end !important;
  color: #545965;
  font-weight: 600;
}
@media (max-width: 1000px) {
}
h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  /* background-color: #04aa6d; */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.65rem;
}

hr.style-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.07);
}

.fw-500 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 500;
}

.mt_2 {
  margin-top: 2rem !important;
}

/*Simple radio btn input CSS*/
.custom-control-label {
  cursor: pointer;
}

.cap-opt-1 {
  display: inline-block;
  min-width: 50px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #59a9f7;
  background-color: #59a9f7;
}

.card-radio-btn .content_head {
  color: #333;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 500;
}

.card-radio-btn .content_sub {
  color: #9e9e9e;
  font-size: 14px;
}
.info2 {
  display: none;
}
.info {
  display: grid;
}

.card-input-element + .card:hover {
  cursor: pointer;
}
.list-bar-mobile{
  display: none;
}

.card-input-element:checked + .card {
  border: 2px solid #719eca;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.card-input-element:checked {
  content: "\f058";
  color: rgba(113, 158, 201, 0.6);
  position: absolute;
  right: 5px;
  top: 5px;
  font-style: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#bu {
  display: flex;
}
#more {
  display: none;
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
.description {
  line-height: 1.8;
}
.title {
  width: 75%;
}

#row {
  padding-bottom: 100px;
  padding-top: 50px !important;
}
.item2 {
  width: 100%;
  height: 460px;
}
.card {
  width: 200px;
  height: 140px;
  margin: 20px;
}
@media (max-width: 1199px) {
  .type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .type p {
    padding-left: 20px;
  }
  .steps__checkbox_img_item_img {
    display: contents;
  }
  .title {
    width: 100%;
  }
  #regForm {
    width: 90% !important;
  }
  .description {
    line-height: 2;
    margin: 0px 20px;
  }
  #row {
    padding-top: 0px;
  }
  .thank {
    padding: 180px 20px;
  }
  .border {
    margin: 20px;
  }
  .brand {
    padding-top: 10px;
    width: 20%;
  }
}
@media (min-width: 630px) and (max-width: 1025px) {
  .list-bar{
    display: none;
  }
  .list-bar-mobile{
    display: block;
  }
  .list-bar-mobile div{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .list-bar-mobile h1{
    width: 290px;
  }
  .s2 {
    display: none;
  }
  .item2 {
    width: 100%;
    height: 460px;
  }
  .item {
    width: 100%;
    height: 460px;
  }

  #regForm {
    width: 90% !important;
  }
  .ins_img {
    width: 50%;
  }
  .thank {
    padding-bottom: 350px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .r-image {
    width: 50%;
  }
  .brand {
    width: 40% !important;
    max-width: 180px;
  }
  .tab {
    padding: 40px 110px;
  }
}
@media (min-width: 1200px) {
  .rate {
    text-align: start !important;
  }
}
@media (max-width: 768px) {
  .thank {
    padding-top: 100px;
    padding-bottom: 500px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .ins_img {
    width: 35%;
  }
  .rate {
    text-align: center !important;
  }
  input {
    margin: 0px 20px;
  }
  .s {
    width: 100%;
    display: block;
    margin: 5px 20px;
  }
}
/* //start card  */

/* @media (max-width: 1199px) {
  .card {
    width: 150px;
    height: 140px;
    margin: 20px;
  }
}

@media (min-width: 480px) and (max-width: 1025px) {
  .card {
    width: 400px;
    height: 200px;
    padding: 30px;
  }
}

@media (min-width: 480px) {
  .card {
    width: 300px;
    height: 200px;
    padding: 30px;
  }
} */

.card-input-element + .card {
  opacity: 90%;
  background: #fff;
  width: 300px;
  padding: 40px;
  margin: 10px;
  justify-content: center;
  color: #077017;
  border: 2px solid transparent;
  text-align: center;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

@media (max-width: 1199px) {
  .card {
    width: 150px;
    height: 140px;
    margin: 20px;
  }
}
@media (min-width:1020px) and (max-width:1025px) {
  .brand{
    width: 13% !important;
  }
}
@media (min-width: 480px) and (max-width: 1020px) {
  .card {
    width: 400px;
    height: 200px;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 300px;
    max-width: 280px;
    height: 170px;
    padding: 30px;
  }
  .photo{
    height: 50px !important;
  }
}

/* en rud card  */

@media (max-width: 768px) {
  .s2 {
    display: none;
  }
  .title {
    width: 80%;
    font-size: 20px;
    padding: 0px 10px;
  }
  #searchbar {
    width: 90%;
  }
  #default-search {
    width: 90%;
  }
  .info2 {
    display: inline-block;
  }
  .most-popular {
    display: none;
  }

  /* .card { */
  /* width: 100%; */
  /* margin: 0px;
    margin-top: 10px; */

  /* //im edit the hight her  */
  /* height: 100%; */
  /* } */
  /* img {
    object-fit: cover;
    max-width: 40% !important;
  } */
}
@media (max-width: 650px) {
  .list-bar{
    display: none;
  }
  .list-bar-mobile{
    display: block;
  }
  .list-bar-mobile div{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .list-bar-mobile h1{
    width: 290px;
  }
}
