@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}
.bg-S {
    margin: auto;
    padding-top: 100px;
    font-family: 'Lexend Deca', sans-serif;
    color: #2E475D;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}


.card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.65rem;
}

hr.style-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.07);
}

.fw-500 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 500;
}

.mt_2 {
    margin-top: 2rem !important;
}

/*Simple radio btn input CSS*/
.custom-control-label {
    cursor: pointer;
}

.cap-opt-1 {
    display: inline-block;
    min-width: 50px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #59a9f7;
    background-color: #59a9f7;
}


.card-radio-btn .content_head {
    color: #333;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
}

.card-radio-btn .content_sub {
    color: #9e9e9e;
    font-size: 14px;
}
.stepper-wrapper {
    padding-top: 40px !important;
    display: flex;
    justify-content: space-around;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #ccc;
    width: 100%;
    top: 10px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #ccc;
    width: 50%;
    top: 10px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #176B87;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #176B87;
    width: 100%;
    top: 10px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}

.card-input-element + .card {
    opacity: 90%;
    background: rgb(255,255,255,0.9);
    width: 300px;
    padding: 40px;
    margin: 10px;
    justify-content: center;
    color: #077017;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 75px 0 rgba(0, 0, 0, 0.4);
}

.card-input-element + .card:hover {
    cursor: pointer;
}

.card-input-element:checked + .card {
    border: 2px solid #719eca;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

.card-input-element:checked {
    content: "\f058";
    color: rgba(113, 158, 201, 0.6);
    position: absolute;
    right: 5px;
    top: 5px;
    font-style: normal;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
    from {
        opacity: 0;
        -webkit-transform: rotateZ(-20deg);
    }

    to {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes fadeInCheckbox {
    from {
        opacity: 0;
        transform: rotateZ(-20deg);
    }

    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

.ribbon {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #0045c2;
    padding :3px;
    border-radius: 10px;
    font-size: 0.8rem;
    width: 90px;
}

.dol{
    font-size: 35px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #176B87 !important;
}
#output {
    color:  #176B87;
    letter-spacing: 1.5px;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    margin-left: 5px;
}
.wrapper {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.range {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: #fff;
}
input[type="range"] {

    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    cursor: pointer;
    outline: none;
    padding: 15px 10px;
    overflow: hidden;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background: white;
    border-radius: 100px;
}


input[type="range"]::-moz-range-track {
    height: 40px;
    background: white;
    border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 35px;
    width: 35px;
    background-color: #176B87;
    border-radius: 50%;
    margin-top: -15px;
    padding-right: -20px !important;
    border: 2px solid #dadada;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 390px #176B87;
}



input[type="range"]::-moz-range-thumb {
    height: 5px;
    width: 20px;
    background-color: #176B87;
    border-radius: 50%;
    border: 1px solid #176B87;

}
.brand img{
    width: 5% !important;
}
@media (max-width: 1200px) {
    .input-range {
        width: 80% !important;
    }

    .brand img {
        width: 20% !important;
    }

    .title {
        padding-top: 20px;
        font-size: 2.5rem !important;
    }

    .q-title {
        font-size: 1.5rem !important;
    }
    .q-button{
        padding: 10px 20px;
    }

    .brand {
        display: flex;
        justify-content: center;
    }

    footer a {
        padding-top: 20px;
    }

    .thank {
        text-align: center;
    }
}
@media (max-width: 480px) {
    #regForm{
        padding: 10px;
    }
}
@media (max-width: 900px) {
    footer{
        padding-top: 20px;
        padding-bottom: 150px;
    }
    .features{
        padding-top: 2rem;
    }
}